* {
    
    box-sizing: border-box;
    margin: 0;
   
}

body {

    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: 100%;
    letter-spacing: 0.2rem;
    
     
}
.navbar, .book {
    position: relative;
    
    
}
header{
   
   background-color: white;
   
}

a {
    list-style-type: none;
}
ul li{
    
    display: inline;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px;

}
ul {
    padding-left: 15%;
    border: 5px solid black;
    
}

.logo {
   
    padding-left: 3%;
    padding-top: 30px;
    border: 5px solid black;
    
}


a{
    text-decoration: none;
    color: black;
}

.book {
 float: right;
 left: -8%;
 top: -35px;

   
}

.fa-ellipsis {
    margin: 15px;
}

.title {

    background-image: url("../imgs/main.jpg") ;
    background-size: cover;
    padding: 30% ;

}

main, header {
   
}

section {

    display: block;
}